.container {
  margin-top: 30px;
}
.card {
  display: flex;
}
.button {
  display: inline;
}

/* .image {
  box-sizing: border-box;
} */

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.info {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.list {
  color: black;
  font-weight: 500;
}
.list:hover {
  color: orangered;
}
